*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

container-grid{
    
}
color /* #592B1B  #BF4124   #224026  #2E5159

         #D8F0F2 */
.item1{
    width:100%;
    grid-area: item1;
    background-color:#D8F0F2;

}
.navBar{
    display: flex;
    list-style: none;
    row-gap: 10px;
}

.item2{
    grid-area: item2;
    background-color:#2E5159 ;
}
.item3{
    grid-area: miraQueTeComo;
    background-color:#2E5159 ;
}
.item4{
    grid-area: item4;
    background-color:#224026;
}
.item5{
    grid-area: item5;
    background-color:#2E5159;
}
.item6{
    background-color:#BF4124 ;
}


