*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    background-color:goldenrod;
justify-content: space-between;
}
.titulo img {
    width: 60px;
}
a {
    color:black;
    text-decoration: none;
}
li {
    list-style: none;

}
.titulo {
    display:flex;
    justify-content: center;
    align-items: center; 
}
.navBar {
    display:flex;
    gap: 20px;
    padding-top: 20px;
    justify-content:center;
    list-style: none;
    align-items: center;
    height: 50%;
    margin-top: 20;
}
navBar li a{
    text-decoration: none;
    font-size:15px ;
    color: white;
    
}
nav{
    height:auto;
}
body{
    background-color:rgba(255, 217, 0, 0.781);
}
a:link {
    background-color:darkgoldenrod;
    color: cadetblue;
}
.imagen img{
    border-radius: 50px;
}
.container h1{
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color:black;
    font-weight:400px;
    font-size: 30;
    font-family: sans-serif;
}

.subtitulo h2{
    color:black;
    font-weight: 300;
    font-size: 30px;
    font-family: sans-serif;
    background-color: chocolate;
    text-indent: 20px;
}
.imagen p{
    color:black;
    font-weight: 200;
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
}
.container p{
    font-weight: 200px;
    font-size: 30px;
    font-family: sans-serif;
    background-color: chocolate;
}
.imagen img{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.menu h2{
    color:black;
    font-weight: 700;
    font-size: 30;
    font-family: sans-serif;
    background-color: chocolate;
    text-indent:20px;
}
.reinas h3{
    color:black;
    font-weight: 400;
    font-size: 40px;
    font-family: sans-serif;
    background-color:chocolate;
    text-indent:20px;
}
.reinas p{
color:black;
font-weight: 200;
font-size: 20px;
font-family: sans-serif;
background-color: chocolate;
text-indent: 20px;
}
.especial {
    color:black;
    font-size: 20px;
    font-family: sans-serif;
    background-color: chocolate;
}
.footer {
    background-color: darkgoldenrod;
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
.datos h2{
    color: black;
    font-weight: 300;
    font-size: 30;
    font-family: sans-serif;
    background-color: chocolate;
}
.datos p{
    color: black;
    font-weight: 300;
    font-size: 30;
    font-family: sans-serif;
    background-color: chocolate;
}
.redes-sociales {
    color: black;
    font-weight: 300;
    font-size: 30;
    font-family: sans-serif;
    background-color:chocolate;
}
.concejos h2{
    color: black;
    font-weight: 500;
    font-size: 20;
    font-family: sans-serif;
}
.inicio h2 {
    color:black;
    font-weight: 400;
    font-size: 20;
    font-family: sans-serif;
}