@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&family=Rubik+Distressed&family=Rubik+Microbe&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,300;1,400&family=Ubuntu:wght@700&family=Work+Sans:wght@200;900&display=swap');
*{
    margin: 0;
     padding: 0;
    box-sizing: border-box;
}
/* inicio del header */
body{

    background-image: url(../assets/img/castillo-fenestrelle.jpg);
}
header{
    background-color:aquamarine;
    width: 100%;
    display: flex;
    justify-content:flex-end;
}
.nav{
    width: 90%;
}
.navbar{
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none; 
    margin-right: 20px;
}
.navbar li a{
    background-color: aquamarine;
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.navbar li a:hover{
    color: red;
}
a{
    background-color: aquamarine;
    color:white;
}
li{
list-style: none;
}
.logo.img{
    background-color: aquamarine;
    color:white;
    width: 50px;
} 
/* fuentes letras
   font-family: 'Roboto', sans-serif;
   font-family: 'Rubik Distressed', cursive;
   font-family: 'Rubik Microbe', cursive;
   font-family: 'Source Sans Pro', sans-serif;
   font-family: 'Work Sans', sans-serif;
   font-family: 'Ubuntu', sans-serif; */

/* termine de derle estilo a el header */
h1{
    text-align:center;
    color:white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}   
main{
    width: 100px;
    height: 100px;
}
.containere-grid{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(5, 1fr);
    grid-template-areas:
    "item1 item1 item2 item2" 
    "item1 item1 item2 item2"
    "item1 item1 item2 item2"
    "item3 item3 item3 item3"
    "item3 item3 item3 item3"
    ;
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
    height: 50%;
    width: 50%;
}
.item3 {
    grid-area: item3;
}
.item1 img{
    width: 50%;
    height: 50%;
    z-index: initial;
}
.item2 h2{
    text-align: justify;
    font-size: 30px;
    font-weight: 50px;
    font-family:'Roboto', sans-serif;
    color:white;
}
.item2 h4{
text-align: justify;
font-size: 20px;
font-family:'Roboto', sans-serif;
color:white;
}
.item3 {
    width: 100%;
    height: 100%;
}
main{
    width:100%;
    height: 100%;
}
/* comence a darle estilo a el footer */
 .datos{
    display: flex;
    gap: 20px;
    list-style: none;
    background-color: aquamarine; 
} 
.datos h2{
    background-color:aquamarine;
    color:white;
    margin: 10px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.datos p{
    background-color:aquamarine;
    color:white;
    margin: 5px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.redes-sociales{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 10px;
    background-color: aquamarine;
}
/* comence a darle estetica con css al header  de inicio*/
header{
    width: 100%;
    display:flex;
    justify-content:space-between;
    background-color: aquamarine;
}
.logo.img{
    color:white;
    width: 50px;
}
a {
    color:white;
}
.nav{
    width: 90%;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content:end;
    gap: 20px;
    list-style: none;
}
li{
    list-style: none;
} 
.item h2{
    font-family:'Roboto', sans-serif; 
}
comence adarle estilos a inicio
header{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.nav{
    width: 90%;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.navbar li a:hover{
    color: red;
}
a{
    color: white;
}
li{
   list-style: none;
} 
/* .grid{
    display:grid;
    width: 100%;
    height: 200%;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-template-areas:
        "titulo titulo titulo imagen imagen imagen"
        "parrafo parrafo parrafo imagen imagen imagen"
        "parrafo parrafo parrafo imagen imagen imagen"
        "parrafo parrafo parrafo imagen2 imagen2 imagen2"
        "parrafo parrafo parrafo imagen2 imagen2 imagen2"
        "parrafo parrafo parrafo imagen2 imagen2 imagen2"
 ;
 }  */
/* .titulo {
  grid-area: titulo;
  color:black;
}
.parrafo {
    grid-area: parrafo;
}
.imagen {
    grid-area: imagen;
}
.imagen2 {
    grid-area: imagen2;
}
.titulo h2{
color:black;
font-size: 30px;
font-family: 'Roboto', sans-serif;

 } */


